.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
box-shadow: 00px 0px 16px -8px rgba(0,0,0,0.68);
margin: 30px 0;
}
.postWrapper{
    padding: 10px;

}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    align-items: center;
    display: flex;
}
.postProfileImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.postUsername{
    font-size: 16px;
    font-weight: bold;
    margin:0px 10px;
}
.postDate{
font-size: 14px;

}
.postText{
    font-size: 16px;
    margin-left: 40px;
}
.postCenter{
     margin: 20px, 0;
}
.postImg{
    margin-top: 20px;
    width: 90%;
    max-height: 500px;
    object-fit: contain;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.postIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.postLikeounter{
font-size: 14px;
}
.postBottomRight{
    display: flex;
    align-items: center;
}
.postCommentIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 5px;
  
}
.postCommentText{
    font-size: 14px;
    cursor: pointer;
}



